<configuration scan="true" scanPeriod="5 seconds">

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{\"yyyy-MM-dd'T'HH:mm:ss.SSSZ\",Europe/Moscow} %-5level [%thread] %logger [%mdc] - %msg%n</pattern>
    </encoder>
  </appender>

<!--  <logger name="org.hibernate.type" level="TRACE" />-->
  <logger name="ru.digitalleague.ocs.internship.lesson16" level="INFO" />
  <logger name="ru.digitalleague.ocs.internship.lesson16.Chapter02" level="TRACE" />

  <root level="INFO">
    <appender-ref ref="stdout" />
  </root>

</configuration>
